/* INDEX.HTML */
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    /* padding: 0 20px; */
    overflow-x: hidden;
}
::-moz-selection {background: rgb(92, 150, 160); color: black; text-shadow: none;}
::selection {background: rgb(92, 150, 160); color: black; text-shadow: none;}


a {
    text-decoration: none;
}

p {
    margin: 0 0 24px 0;
}


.navigacia {
    background: rgb(246 219 219 / 90%);
    color: black;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0;
    width: 105%;
    border-bottom: 1px solid #813434;
}
.navigacia a {
    color: black;
}
.navigacia a:hover,
.navigacia a:focus{
    outline: black;
    text-decoration: underline;
}

.navigacia li {
    padding: 0 15px 5px 15px;
    margin: -5px 20px 7px;
    list-style: none;
    color: black;
    font-weight: 800;    
}

.reglog {
    margin-right: 5%;
    float: right;
}


.navigacia .login {
    padding: 5px 15px 5px 15px;
    margin: -7px 10px 5px;
    background: #ff5c5c;
    border-radius: 11px;
    border: 0.2px solid rgb(158, 56, 56);
}


.navigacia .registrujsa {
    padding: 5px 15px 5px 15px;
    margin: -7px 10px 5px;
    background: #ff5c5c;
    border-radius: 11px;
    border: 0.2px solid rgb(158, 56, 56);
}

.navigacia .registrujsa a:focus,
.navigacia .registrujsa a:hover,
.navigacia .login a:focus,
.navigacia .login a:hover{
    text-decoration: none;
}

.navigacia .login:hover,
.navigacia .login:focus,
.navigacia .registrujsa:hover,
.navigacia .registrujsa:hover{
    background: #fd3a3a;
}



.logo {
    text-align: center;
    font-size: 70px;
    position: relative;
    z-index: 4;
    left: 2%;
    top: -41px;
    overflow: hidden;
}

.logo a {
    text-decoration: none;
    outline: none;
}

.logo:hover,
.logo:focus {
    text-decoration: none;
    outline: none;

}



.logobg {
    margin: 0;
    margin-top: -50px;
    height: 397px;
    width: 749px;
    position: relative;
    z-index: 2;
    left: 5%;
    /* right: 0%; */
    
}



.odznak {
    background: red;
    display: block;
    width: 100px;
    height: 100px;
    opacity: 70%;
    border-radius: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;    
    text-decoration: none;
    position: relative; 
    z-index: 333;
    left: 65%;
    top: -50px;
}

.odznak small {
    font-size: 25px;
    line-height: 0px;
    font-weight: 300;
    font-style: italic;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.h2 {
    color: darkmagenta;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -100px;
    
}


.menodatum {
    font-size: 16px;
    font-family: monospace;
    font-style: italic;
    /* margin-left: 250px; */
}



.autor {
    font-weight: 900;
}



.link {
    text-decoration: none;
    outline: none;
    color: rgb(99, 53, 62);
    
}

.link:hover,
.link:focus {
    color: rgb(57, 127, 173);
    border-bottom: 1px solid;
}




.jadro {
    margin: 0px auto;
    padding: 100px 20px;
    color: rgb(99, 53, 62);
    font-size: 18px;
    width: 950px;
}

.menodatum time::before {
    content:' ¤ ';
    font-style: normal;
    margin-right: -4px;
}

.jadroprvep {
    font-size: 20px;
    margin: 0 -100px;
    margin-bottom: 25px;
    line-height: 23px;
    font-weight: 500;
    color: black; 
}

.vlavo{
    float: left;
}

.vpravo{
    float: right;
}

.citat{
    color: rgb(182, 10, 10);
    max-width: 300px;
    margin-left: -100px;
    
}

.citat.vlavo{
    padding: 0 20px 20px 10px;
}

.citat.vpravo{
    padding: 0 10px 20px 20px;
}

.citat q{
    font-size: 23px;
    line-height: 30px;
    font-style: italic;
}

.footer {
    margin: 0 auto;
    width: 700px;

}
h3 {
    font-size: 20px;
}
.bioline a img{
    padding: 10px 20px 0 0;   
    display: block;
    border-radius: 43%;
}
.bioline h3 {
    text-align: left;
    margin-left: 150px;
}
footer > h3 {
    text-align: center;
}

/* .pre-footer{
    margin-top: -25px;
} */

.recenzia{
    list-style: none;
    padding: 0 50px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.recenzia blockquote {
    margin-left: 0;
}

.recenzia li {
    float: left;
    width: 300px;
    margin: 0 15px;
    padding: 0 10px;
}

.recenzia li:before{
    content: ' " ';
    font-size: 60px;
    color: red;
    position: relative;
    z-index: 1;
    top: 68px;
    left: -120px; 
    font-style: italic;
}


/* REGISTRACIA */

.regbody {
    /* width: 100%; */
    /* margin: 0 24%; */
    background: #934A5F;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    /* padding: 0 20px; */
    overflow-x: hidden;
    width: 100%;

} 

.formsec {
    padding: 0 20px;
    width: 100%;
}

.h1reg {
    font-size: 32px;
}

.backtohome {
    text-align: left;
    list-style: none;
    margin-top: 70px;
    margin-bottom: -15px;
}

.backtohome li {
    padding: 0 5px;
}

.backtohome li::after{
    content: '/';
    padding-left:5px;
}

.backtohome a {
    text-decoration: none;
    color: black;
}

.backtohome a:hover,
.backtohome a:focus {
    color: rgb(29, 29, 29);
    border-bottom: rgb(29, 29, 29) solid 0.2px;
}

input:not([type=checkbox]):not([type=radio]),
button,
select {
    background: #C2B4D6;
    border: none;
    width: 28%;
    padding: 15px 20px;
    margin: 15px 2%;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
   
}


    select {
        display: block;
        margin: 10px auto;
    }


input:focus,
textarea:focus {
    outline: 3px solid rgb(15, 59, 143);
}


textarea {
    background: #C2B4D6;
    border: none;
    width: 64%;
    padding: 15px 20px;
    margin: 15px auto;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
}

select {
    width: 25%;
    padding: 5px 10px;
}

button {
    background: #E5E5E5;
    width: 250px;
    height: 40px;
    padding: 0;
}

button:hover,
button:active {
    background: #b6a1a1;
    border: 1px #b6a1a1 solid;
}

label {
    display: block;
    text-align: left;
    cursor: pointer;
}

.remember {
    display: block;
    margin: 0 22%;
}

.stretko {
    text-align: left;
    display: table;
    margin: 10px auto;
}

.stretko>p{
    margin: 25px 0 5px 0
}

.radioday {
    cursor: pointer;
    float: left;
    clear: left;
    padding: 4px 0px;
}

.suhnot {
    margin: 5px 22%;
}

.suhnot label input {
    margin-right: 5px;
    margin-top: 2px;
    float: left;
}

.suhlasp {
    padding: 0 18px;
}

.zaver {
    display: block;
}

.prefooter {
    background: #C2B4D6;
    height: 200px;
    width: 105%;
    }

.prefooter .navigaciafoot:first-child {
    margin-left: 30%;
}



.navigaciafoot {
    list-style: none;
    float: left;
    margin-right: 100px;
}

.navigaciafoot li {
    padding: 2px 0;
    text-align: left;
    list-style: none;
}

.navigaciafoot li a{
    text-decoration: none;
    color: #505050;
}


.navigaciafoot li a:hover,
.navigaciafoot li a:focus{
    border-bottom: black 1px solid;
}

.navigaciafoot li p {
    color: black;
    font-weight: 500;
    margin-bottom: 5px

}


.futer {
    background: rgb(214 214 214);
    height: 50px;
    width: 105%;
    position: relative;
}

.divfooter {
    position: absolute;
    bottom: 5px;
    left: 80%;
}

.imglogo2 {
    float: left;
    margin-bottom: -23px;
    margin-left: 10px;
}

.copy {
    margin: 0;
    margin-left: 50px;
    clear: both;
    margin-bottom: 6px;
}



    /* registracia responz. */

    @media screen and (max-width:1025px) {
        .reglog {
            float: right;
            margin-right: 5%;
        }
        body {
            width: 100%;
            padding: 0;
        }
    
        .formsec {
            width: 100%;
            margin: 0;
        }

        input:not([type=checkbox]):not([type=radio]), 
        button, 
        textarea {
            width: 50%;
            margin: 10px auto;
            display: block;
        }


        .navigacia li{
            margin: 0 1%;
            padding: 0 8px 0 8px;
        }
       
        select {
            margin: 0 36%;
            display: block;
        }
    
        .stretko {
            margin: 0 auto;
        }

        .remember {
            display: block;
            margin: 0 22%;
        }

        .navigaciafoot {
            margin: 15px;
        }
    
        .prefooter .navigaciafoot:first-child{
            margin-left: 20%;
        }
    
    
    
    }
    
    
    
    @media screen and (max-width:850px) {
      
        .logo {
            font-size: 50px;
            top: 10px;
        }
    
        .reglog {
            margin-right: 0;
            float: none;
        }
    
        .navigacia li {
            margin: 0;
        }
    
        .navigacia li:first-child {
            margin-left: -33px;
        }
    
        .navigacia .reglog .login {
            margin-left: 10px;
        }
    
        .divfooter {
            left: 0%;
        }
    
    
    }
    
    
    
    @media screen and (max-width:700px) {
    
        body {
            width: 100%;
        }
    
        .reglog {
            display: none;
        }
    
        .navigacia li {
            margin-bottom: 8px;
            margin-top: -5px
        }
    
        .formsec {
            width: 100%;
            margin: 0;
        }
    
    
        .form {
            width: 100%;
            margin: 0;
        }
    
        input,
        textarea,
        button, {
            width: 100%;
        }

        select {
            margin: 0 36%;
            display: block;
        }

        textarea {
            width: 50%;
        }


        .stretko {
            margin: 10px auto;
        }

        .remember {
            margin: 0px 22%;
            display: block;
        }

    
        .prefooter .navigaciafoot,
        .prefooter .navigaciafoot:first-child {
            margin: 5px auto;
        }
    
    }
    
    
    
    @media screen and (max-width:400px) {
    
        .navigacia li:nth-child(3){
            display: none;
        }
    
        .prefooter .navigaciafoot,
        .prefooter .navigaciafoot:first-child {
            margin: 5px 0;
        }

    }













