body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    padding: 0 20px;
    overflow-x: hidden;
}
::-moz-selection {background: rgb(92, 150, 160); color: black; text-shadow: none;}
::selection {background: rgb(92, 150, 160); color: black; text-shadow: none;}


a {
    text-decoration: none;
}

p {
    margin: 0 0 24px 0;
}


.navigacia {
    background: rgb(246 219 219 / 90%);
    color: black;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0;
    width: 105%;
    border-bottom: 1px solid #813434;
}
.navigacia a {
    color: black;
}
.navigacia a:hover,
.navigacia a:focus{
    outline: black;
    text-decoration: underline;
}

.navigacia li {
    padding: 0 15px 5px 15px;
    margin: -5px 20px 7px;
    list-style: none;
    color: black;
    font-weight: 800;    
}

.reglog {
    position: relative;
    top: 0;
    left: 40%;
}

.navigacia .login {
    padding: 5px 15px 5px 15px;
    margin: -7px 10px 5px;
    background: #ff5c5c;
    border-radius: 11px;
    border: 0.2px solid rgb(158, 56, 56);
}


.navigacia .registrujsa {
    padding: 5px 15px 5px 15px;
    margin: -7px 10px 5px;
    background: #ff5c5c;
    border-radius: 11px;
    border: 0.2px solid rgb(158, 56, 56);
}

.navigacia .registrujsa a:focus,
.navigacia .registrujsa a:hover,
.navigacia .login a:focus,
.navigacia .login a:hover{
    text-decoration: none;
}

.navigacia .login:hover,
.navigacia .login:focus,
.navigacia .registrujsa:hover,
.navigacia .registrujsa:hover{
    background: #fd3a3a;
}



.logo {
    text-align: center;
    font-size: 70px;
    position: relative;
    z-index: 4;
    left: 2%;
    top: -41px;
    overflow: hidden;
}

.logo a {
    text-decoration: none;
    outline: none;
}

.logo:hover,
.logo:focus {
    text-decoration: none;
    outline: none;

}



.logobg {
    margin: 0;
    margin-top: -50px;
    height: 397px;
    width: 749px;
    position: relative;
    z-index: 2;
    left: 5%;
    /* right: 0%; */
    
}

@media screen and (max-width: 800px) {
    .logobg {
        height: 132.3px;
        width:  374.5px;
    }
}


.odznak {
    background: red;
    display: block;
    width: 100px;
    height: 100px;
    opacity: 70%;
    border-radius: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;    
    text-decoration: none;
    position: relative; 
    z-index: 333;
    left: 65%;
    top: -50px;
}

.odznak small {
    font-size: 25px;
    line-height: 0px;
    font-weight: 300;
    font-style: italic;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.h2 {
    color: darkmagenta;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -100px;
    
}

@media screen and (max-width: 800px) {
    .h2 {
        margin: 0;
    }
}




.menodatum {
    font-size: 16px;
    font-family: monospace;
    font-style: italic;
    /* margin-left: 250px; */
}

@media screen and (max-width: 800px) {
.menodatum{
    margin-left: 0;
}
}

.autor {
    font-weight: 900;
}



.link {
    text-decoration: none;
    outline: none;
    color: rgb(99, 53, 62);
    
}

.link:hover,
.link:focus {
    color: rgb(57, 127, 173);
    border-bottom: 1px solid;
}




.jadro {
    margin: 0px auto;
    padding: 100px 20px;
    color: rgb(99, 53, 62);
    font-size: 18px;
    width: 950px;
}

.menodatum time::before {
    content:' ¤ ';
    font-style: normal;
    margin-right: -4px;
}

.jadroprvep {
    font-size: 20px;
    margin: 0 -100px;
    margin-bottom: 25px;
    line-height: 23px;
    font-weight: 500;
    color: black; 
}

@media screen and (max-width: 800px) {
.jadroprvep {
    margin: 0 -65px;
}

}

.vlavo{
    float: left;
}

.vpravo{
    float: right;
}

.citat{
    color: rgb(182, 10, 10);
    max-width: 300px;
    margin-left: -100px;
    
}

.citat.vlavo{
    padding: 0 20px 20px 10px;
}

.citat.vpravo{
    padding: 0 10px 20px 20px;
}

.citat q{
    font-size: 23px;
    line-height: 30px;
    font-style: italic;
}

.footer {
    margin: 0 auto;
    width: 700px;

}
h3 {
    font-size: 20px;
}
.bioline a img{
    padding: 10px 20px 0 0;   
    display: block;
    border-radius: 43%;
}
.bioline h3 {
    text-align: left;
    margin-left: 150px;
}
footer > h3 {
    text-align: center;
}

.pre-footer{
    /* margin-top: -25px; */
}

.recenzia{
    list-style: none;
    padding: 0 50px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.recenzia blockquote {
    margin-left: 0;
}

.recenzia li {
    float: left;
    width: 300px;
    margin: 0 15px;
    padding: 0 10px;
}

.recenzia li:before{
    content: ' " ';
    font-size: 60px;
    color: red;
    position: relative;
    z-index: 1;
    top: 68px;
    left: -120px; 
    font-style: italic;
}












