body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;

}

.logo {
    text-align: center;
    font-size: 80px;
    position: absolute;
    left: 25%;
    top: -85px;
    
}

.logo a {
    text-decoration: none;
    outline: none;
}

.logo:hover,
.logo:focus {
    text-decoration: none;
    outline: none;

}

.logobg {
    margin: 0 25%;
    padding-top: 100px ;
    height: 397px;
    width: 749px;
    position: relative;
    z-index: 2;
}

.odznak {
    background: red;
    display: block;
    width: 100px;
    height: 100px;
    opacity: 70%;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;    
    text-decoration: none;
    position: relative; 
    z-index: 1;
    left: 75%;
    top: -100px;
}

.odznak small {
    font-size: 25px;
    line-height: 0px;
    font-weight: 300;
    font-style: italic;
    display: block;
}


.jadro {
    margin: 0 25%;
    padding: 100px 0%;
    color: rgb(99, 53, 62);
    font-size: 18px;
}

.h2 {
    color: darkmagenta;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 15%;
    padding: 15px 0;   
    margin-top: -100px; 
}

.link {
    text-decoration: none;
    outline: none;
    color: rgb(99, 53, 62);
    
}

.link:hover,
.link:focus {
    color: rgb(57, 127, 173);
    border-bottom: 1px solid;
}
